/* layout1.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.container {
  position: fixed;
  top: 0px;
  background-color: white;
  width: 8rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  left: 0;
  height: 100vh;
  transition: width 0.3s;
}

.container.expanded {
  width: 11rem;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.icon {
  width: 3rem;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.notification-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f39c12;
  color: white;
  text-align: center;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  z-index: 1000;
  transition: top 0.3s;
}

.icon-label {
  visibility: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-left: 13px;
  margin-top: 5px;
}

.container.expanded .icon-label {
  visibility: visible;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
}

.user-info {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-right: 15px;
  margin-top: 15px;
}

/* Added CSS for user-modal */
.user-modal {
  position: absolute;
  top: 42px;
  right: -300px; /* Initial position off-screen */
  width: auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.user-modal.visible {
  right: 25px; /* Final position when visible */
  opacity: 1;
}

.user-modal p {
  margin: 5px 0;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #333;
}

.user-modal button {
  background-color: #686665;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
}

.user-modal button:hover {
  background-color: #575251;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dim-background {
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust as necessary */
}

.bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-container {
  width: calc(100% - 7rem);
  padding: 1rem;
  overflow-y: auto;
  margin-left: 7rem;
  transition: margin-left 0.3s, width 0.3s;
}

.container.expanded ~ .right-container {
  margin-left: 15rem;
  width: calc(100% - 15rem);
}

@media screen and (max-width: 425px) {
  .container {
    position: fixed;
    bottom: 0px;
    max-height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    height:auto;
    top:auto;
    border-top-left-radius:40px;
    border-bottom-right-radius:0;
    border-bottom-left-radius:40px;
  }
  
  .icon-wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .icon {
    width: 2rem;
  }

  .icon-label {
    font-size: 0.75rem;
    margin-left: 0;
    text-align:center;
  }

  .right-container {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
  }

  .user-info {
    right: 60px;
  }
}


/* .icon-wrapper {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 5rem;
  cursor: pointer;
} */

/* Specific styles for bell icon */
.icon-wrapper:nth-child(4) {
  margin-bottom: 0;
}