.google-button {
    background-color: white; /* Google Blue */
    color: black;
    padding: 10px 20px;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
  }
  
  .google-button:hover {
    background-color: #cfd1d3; /* Darker shade of Google Blue on hover */
  }
  