@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@keyframes expandCircle {
  from {
    width: 100px;
    height: 100px;
  }
  to {
    width: 100vw;
    height: 200vh; /* Increased to ensure full screen coverage */
    border-radius: 0; /* Remove the circle shape for full screen */
  }
}

.background::before {
  content: '';
  position: absolute;
  background-color: rgb(187 247 208); /* Light green color */
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-out;
  filter: blur(200px);
  overflow-y: hidden;
  z-index:-1 ;
}

.background.verified::before {
  animation: expandCircle 1s forwards;
}

.verify-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

.video-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

.video {
  max-width: 100%;
  max-height: 100%;
  border-radius: 30px;
}

.qr-text {
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

@keyframes fadeInScanEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.red-line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(142, 243, 109), transparent);
  animation: scanEffect 3s ease-in-out, fadeInScanEffect 2s forwards;
  animation-fill-mode: forwards;
}

@keyframes scanEffect {
  0% {
    top: 0;
    opacity: 1;
  }
  90% {
    top: 100%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 0;
    height: 0;
    display: none;
  }
}

@keyframes popOutEffect {
  0% {
    transform: scale(0.5) translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: scale(1.05) translateX(0%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateX(0%);
    opacity: 1;
  }
}

/* Corner styles */
.corner {
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 8px black;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
  animation: popOutEffect 5s ease-out;
}

.top-left {
  top: -10px;
  left: -10px;
  border-right: none;
  border-bottom: none;
}

.top-right {
  top: -10px;
  right: -10px;
  border-left: none;
  border-bottom: none;
}

.bottom-left {
  bottom: -10px;
  left: -10px;
  border-right: none;
  border-top: none;
}

.bottom-right {
  bottom: -10px;
  right: -10px;
  border-left: none;
  border-top: none;
}

@media screen and (max-width: 425px) {
  .verify-container,
  .video-container {
    height: 40vh;
  }
  .video-container {
    flex-direction: row;
  }
}

.dropdown-container {
  position: relative; /* Necessary for correct stacking */
  z-index: 1000; 
  max-width:600px     /* Ensure it stacks above lower elements */
}

.dropdown-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 600px;
  height:60px;
  z-index: 999;       /* High z-index to be above lower containers */
  position: relative; /* Create a new stacking context */
}



.dropdown-content {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 600px;
  border-radius: 20px;
  max-height: 400px; /* Adjust this value as needed */
  overflow-y: auto; /* Add scrollbar when content exceeds max-height */
}

.dropdown-content a {
  justify-content: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: #333;
  height:60px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 20px;
}

.verify-gif {
  transform: scale(0.5);
  border-radius: 20px;
  margin-top: -10rem;
  max-width: 100%; /* Ensures the gif doesn't exceed its container */
}

.verify-container.move-left {
  transition: transform 1s ease;
}

/* Define sliding-out animation */
@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

/* Define sliding-in animation */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply sliding out animation */
.video-container.slide-out {
  animation: slideOutLeft 1s forwards;
}

/* Apply sliding in animation */
.verify-gif.slide-in,
.dropdown-container.slide-in {
  animation: slideInRight 1s forwards;
}
