height of the container
.leaflet-container {
    height: 100vh;
  }
  .marker-wrapper {
    position: relative;
  }
  
  .blue-marker-img {
    width: 25px; 
    height: 41px; 
    animation: pulse-animation 1.5s infinite; 
  }
  
  @keyframes pulse-animation {
    0% {
      transform: scale(0.9);
      opacity: 0.7;
    }
    70% {
      transform: scale(1);
      opacity: 0;
    }
    100% {
      transform: scale(0.9);
      opacity: 0;
    }
  }
  